@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.eot');
  src: local('☺'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg') format('svg');
  font-style: bold;
  font-weight: 700; }

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot');
  src: local('☺'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg') format('svg'); }

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Bold.eot');
  src: local('☺'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg') format('svg');
  font-style: bold;
  font-weight: 700; }

body {
  font-family: 'Gotham-Book';
  -webkit-font-smoothing: antialiased; }

.navbar-brand {
  position: relative;
  top: 0px;
  font-family: 'Gotham-Bold';
  text-transform: uppercase;
  color: #222 !important;
  letter-spacing: 1px; }
  .navbar-brand img {
    position: relative;
    top: -1px;
    margin-right: 3px; }

.posts, .posts .post {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.post .btn {
  margin-top: 8px; }
.post .avatar {
  position: relative;
  right: -15px; }
.post .delete {
  color: #777;
  cursor: pointer; }
.post .hashtag {
  cursor: pointer; }

.search {
  margin-bottom: 25px; }
  .search .close {
    position: absolute;
    top: 8px;
    right: 25px; }

.star {
  font-size: 1.1em;
  position: relative;
  top: 10px;
  left: -20px;
  color: #AAA;
  cursor: pointer; }
  .star.full {
    color: #eb5043 !important; }

.form-control, .btn {
  border-radius: 2px; }

.btn-dark {
  background-color: #333;
  color: #FFF; }
  .btn-dark:hover, .btn-dark:active {
    color: #FFF; }

.form-control.list-group-item {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }

.post .list-group-item.disabled:before {
  position: absolute;
  top: 11px;
  left: -16px;
  right: 100%;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  pointer-events: none;
  border-right-color: #ddd;
  border-width: 8px; }
.post .list-group-item.disabled:after {
  position: absolute;
  top: 11px;
  left: -16px;
  right: 100%;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  pointer-events: none;
  border-width: 7px;
  border-right-color: #eee;
  margin-top: 1px;
  margin-left: 2px; }

.saved-searches a {
  cursor: pointer;
  display: block; }
